@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    header, body, footer {
        max-width: 1200px;
        margin: auto;
    }
    main figure img {
        width: 100%;
        max-height: 120px;
        min-height: 0;
        overflow: hidden;
    }
    .current p {
        width: 48%;
    }
  article p.town-article img { width: 50%; }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        padding: 20px 40px;
    }
.gallery figure img:hover {box-shadow: 5px 5px 5px #4C64FF;}
.cards {
    display: flex;
    flex-direction: row;
}
    .Franklin {
        display: flex;
        margin: .5em;
        flex-direction: column-reverse;
    }
    .Franklin > img {
        width: 100%;
    }
    .Franklin > span {
        width: 100%;
        border: 1px solid #000;
    }
    .Greenville {
        display: flex;
        margin: .5em;
        flex-direction: column;
    }
    .Greenville > img {
        width: 100%;
    }
    .Greenville > span {
        width: 100%;
        border: 1px solid #000;
}
    .Springfield {
        display: flex;
        margin: .5em;
        flex-direction: column-reverse;
    }
    .Springfield > img {
        width: 100%;
    }
    .Springfield > span {
        width: 100%;
        border: 1px solid #000;
    }