* { box-sizing: border-box;}

body {
    font-size: 16px;
    font-family: 'Mina', 'Lucinda Grande', sans-serif;
    min-width: 450px;
}

header, nav, main, footer {
    max-width: 100%;
    margin: 0 auto;
}
header {
    display: flex
}

header img {
    padding: .5rem;
    width: 100px;
    height: 100px;
}

header h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.subheading {
    font-size: 1.2rem
}

.rightheader {
    margin: .5rem 0 0 1rem
}

/* Nav Bar */
.rightbutton {
    display: flex;
}

nav button {
    margin: .2rem 2%;
    border: none;
    font-size: 1.6rem;
    background-color: #001496;
    color: white;
    border-radius: 2px;
}

nav ul {
    display: flex;
    flex-direction: column;
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001496;
}

nav ul li a {
    display: block;
	color: white;
	text-align: center;
	padding: 14px 12px;
	text-decoration: none;
}

nav ul li.active a {
    background-color: #FF5719;
	color: black;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #4C64FF;
    color: white;
}
nav ul.hide {display: none;}

/*main*/
main {
    margin-left: .2rem;
    margin-right: .2rem;
}
article {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    margin-bottom: .2rem;
}

article img {
    width: 40%;
}

article h1 {
    text-align: center;
}

article p {
    margin: 1rem;
}
.rightside {
    flex-direction: row-reverse;
}
.button {
    background-color: #001496;
    border: none;
    color: white;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    left: 55%;
}

.product1 {
    margin-bottom: .5rem;
}

.product1 a:hover {
    background-color: #4C64FF;
}

main img {
    width: 100%;
}
.image2, .image3, .tour {
    display: none;
}
ui-accordion {
    background-color: #FF5719;
}
#accordion h1 {
    margin: .5rem 0;
    font-size: 1.5rem;
}
.accordion-header1, .accordion-header2, .accordion-header3 {
    background-color: #FF8F65;
    margin: 0;
    padding: .5rem;
    border: 1px solid #FF5719;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.17rem;
    display: block;
    transition: all linear 0.15s;
}
#accordion-2, #accordion-3 {
    display: none;
}
#accordion p {
    margin: .5rem;
    font-size: .85rem;
}
#accordion .button {
    left: 20%;
}
.event {
    border: 1px solid #000;
    padding: .5rem;
}
.event aside p {
    font-size: .75rem;
    margin: 0;
}
.event h1 {
    text-align: center;
}
/*forms*/
fieldset {
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    background-color: #4C64FF;
    margin: 1.5rem;
    margin-bottom: 0;
    border: none;
}
/*legend {
    color: white;
    border-left: 6px solid #ff5719;
    padding: .5rem;
    background-color: #4C64FF;
    width: 100%;
}*/
label {
    display: block;
    margin: .5rem;
}
label span {
    display: block;
    color: white;
    padding-top: .5rem;
    padding-bottom: .2rem;
}
input.submitBtn {
    -webkit-appearance: none;
    color: black;
    border: solid 1px #001496;
    margin: .5rem 0;
    margin-left: 1.5rem;
    padding: .5rem;
    background: #FF5719;
    box-shadow: 4px 4px 10px #666
}
/*tables*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: .5rem;
}
thead tr:nth-child(odd) {
    font-size: 1.65rem;
    background-color: #FF5719;
}
thead tr:nth-child(even) {
    font-size: 1.1rem;
    background-color: #001496;
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: #FF8F65;
}
tbody tr:nth-child(even) {
    background-color: #4C64FF;
    color: white;
}
tfoot {
    background-color: #001496;
    color: white;
    font-size: .7rem;
    text-align: center;
}
table {
    margin: 1.25rem;
    box-shadow: .75rem .75rem .75rem #628CA6;
}
/*footer*/
footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    background-color: #4C64FF;
    color: white;
}
footer>p {
    margin: .5rem;
    text-align: center;
}
footer p a {
    color: white;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
    color: #FF5719;
}

/*Medium View*/
@media only screen and (min-width: 37.5rem) {
    
    header img {
        width: 150px;
        height: 150px;
    }

    nav button {display: none;}

    nav ul.hide {
        display: flex;
        flex-direction: row;
    }
    nav {margin-bottom: .5rem;}
    .grid-container{
        display: grid;
        grid-gap: .75rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto
    }
    .featured-product {
        grid-column: 3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
    }
    .featured-product img {
        height: 200px;
    }
    .event-article {
        grid-column: 1 / span 2;
        grid-row: 2;
        
    }
    .event-article h1, .featured-product h1, .tour h1 {
        margin: .5rem 0;
        font-size: 1.5rem;
    }
    .event-article p, .featured-product p {
        margin: .5rem;
        font-size: .85rem;
    }
    .tour {
        grid-column: 1;
        grid-row: 1;
        display: block;
        border: 1px solid #000;
    }
    .tour h1 {
        text-align: center;
    }
    .tour img {
        padding: .5rem;
        margin-bottom: 1rem;
    }
    .image1 {
        grid-column: 2;
        grid-row: 1;
    }
    .image2 {
        display: block;
        grid-column: 3;
    }
    #accordion {
        max-width: 800px;
    }
    .sales {
        margin: 0 2% .5rem;
    }
}

/*Large View*/
@media only screen and (min-width: 64rem) {
    header, body, footer {
        max-width: 1200px;
        margin: auto;
    }
    .tour {
        display: none;
    }
    .image3 {
        display: block;
        grid-column: 1;
        grid-row: 1;
    }
    body {
        box-shadow: 0 .75rem .75rem .75rem #628CA6;
    }
}